
* {
  font-family: work sans;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.heading_logo {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
  margin-top: 0px;
  flex: 0;
  font-size: 3rem;
  text-align: center;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(228, 228, 228);
}

.joinChatContainer {
  background-color: white;
  padding: 40px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.joinChatContainer form {
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}
.joinChatContainer input {
  min-width: 210px;
  min-height: 40px;
  margin: 7px;
  border: 1px solid rgba(124, 58, 237, 1);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  background-color: transparent;
  /* color: white; */
}

.joinChatContainer input:hover {
  border: 1px solid black;
}

.joinChatContainer button {
  width: 105px;
  min-height: 50px;
  margin: 5px;
  border: none;
  padding: 5px;
  font-size: 16px;
  background: rgba(124, 58, 237, 1);
  color: white;
  cursor: pointer;
  border: 1px solid rgba(124, 58, 237, 1);
  border-radius: 50px;
}

.joinChatContainer button:hover {
  background-color: rgb(0, 0, 0);
}

.chat-window {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
padding: 40px;
  margin-top: 30px;
  width: 70vw;
  min-height: 600px;
  background-color: white;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  background: rgba(124, 58, 237, 1);
  border: 1px solid rgba(124, 58, 237, 1);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  /* color: #fff; */
  font-weight: 700;
  line-height: 45px;
  color: white;
}

.chat-window .chat-body {
  height: calc(550px - (45px + 70px));
  border: 1px solid lightgray;
  width: 100%;
  margin-top: 5px;
  background: transparent;
  position: relative;
}

.chat-window .chat-body::-webkit-scrollbar{
  overflow: hidden;
}
.chat-window .chat-body .message-container {
  background-color: white;

  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 20px;
  display: flex;
  /* color: white; */
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  min-width: 60px;
  max-width: 450px;
  background-color: rgba(124, 58, 237, 1);
  
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 20px;
  padding-left: 20px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 15px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: lightgray;
  color: black;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 15px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  margin-top: 5px;
  height: 40px;
  border-top: none;
  display: flex;

  border: 2px solid lightgray;
}

.chat-window .chat-footer input {
  background-color: transparent;
  /* color: white; */
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;

  outline: none;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: greenyellow;
  outline: none;
  font-size: 25px;
  color: black;
  border-left: 1px solid lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}

.chat_container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.Home {
  display: flex;
}

.home_img img {
  height: 60vh;
  width: auto;
}


@media screen and (max-width: 820px) {
    .top_head {
      margin-top: 200px;
    }
    .top_head h1 {
      font-size: 1.5rem;
      text-align: center;
    }

    .chat-window {
      width: 100vw;
    }

    .joinChatContainer{
      margin-top: 400px;
      flex-direction: column;
      width: 90%;
    }
    .pic {
     
      max-height: 200px;
    }
  } 